.navbar {
  
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    position: fixed;
    top: -27px;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    gap: 48px;
    margin-left: -112px;
  }

  /* src/pages/Navbar.css */
.navbar-left .logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-left: -30px;
}

  
  .logo {
    height: 32px;
    
  }
  
  .nav-link {
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #fff;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  
  .language-selector {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .language-selector:hover {
    color: #fff;
  }
  
  .dropdown-icon {
    width: 16px;
    height: 16px;
  }
  
  .build-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: white;
    color: rgb(38, 37, 37);
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 8px;
    transition: box-shadow 0.3s;
    cursor: pointer;
    border: none;
    margin-left: 50px;
  }
  
  .build-button:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  .google-logo {
    width: 20px;
    height: 20px;
  }

  
  