html, body {
  overflow-x: hidden;
}
.page2-container {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f1115;
  color: #333;
  text-align: center;
  width:1545px; 
}
